html{
    margin: 0 auto;
    width: 100%;
    height: 100vh;    
    
}

body{
    margin: 0 auto;
    width: 1480px;
    height: 100vh;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-family:  "Pacifico", serif;

}

/*      header     */

header {
    background-color: none;
    display: flex;
    flex-direction: column;
    
}

    header > div#logo {
        line-height: 80px;
        
        
    }
    
    header > .menuDown {
        box-shadow: 0 3px 5px rgb();
    }
    
    header > .menuUp {
        box-shadow: none;
        
    }
    
        header > div#logo > h1 {
            color: #000;
            font-weight: 500;
            
        }
        
        header > div#logo > div#navToggle {
            background-color: rgba(0,0,0,.15);
            right: 0;
            top: 0;
            transition: 300ms all ease;
        }
            
            header > div#logo > div#navToggle:hover {
                background-color: rgba(0,0,0,.1);
            }
            
            header > div#logo > div#navToggle > a {
                color: rgba(255,255,255,.85);
                display: block;
                font-size: 0.5em;
                font-weight: 600;
                padding: 0 2.5rem;
                text-decoration: none;
                transition: 300ms all ease;
            }
            
                header > div#logo > div#navToggle:hover > a {
                    color: yellowgreen;
                }

    header > nav {
        background-color: white;
        display: none;
        flex: 1;
        transform: 300ms all ease;
        text-align: center;
    }
    
        header nav > ul {
            list-style-type: none;
            text-align: center;
            font-size: 1.em;
            font-family: sans-serif;
        }
        
            header nav > ul > li {
                position: relative;
                text-align: center;
                
            }
            
                header nav > ul > li:last-of-type {
                    border-bottom: none;    
                }
            
                header nav > ul > li > a {
                    display: block;
                    color: rgba(51, 51, 51, 1);
                    font-weight: 600;
                    text-decoration: none;
                    transition: 250ms all ease;
                }
                
                    header nav > ul > li > a span.toggle {
                        background-color: rgba(0,0,0,.05);
                        border-radius: 2rem;
                        color: rgba(0,0,0,.25);
                        font-size: 1.0em;
                        font-weight: 500;
                        padding: 2px 8px;
                        text-transform: lowercase;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        display: none;
                    }
                
                    header > nav > ul > li:hover > a {
                        color: rgb(187, 207, 61);  
                    }
                
            header > nav > ul > li > nav {
                background-color: rgb(51,51,51);
                border-radius: .5em;
                text-align: center;
                display: none;
                position: absolute;
                width: 90%;
                z-index: 100;
            }
            
                header > nav > ul > li > nav > ul > li > a {
                    font-size: .6em;
                    text-align: center;
                    transition: 300ms all ease;
                }
                
                    header > nav > ul > li > nav > ul > li:hover > a {

                        text-align: center;
                        color: #fff;
                    }

/* Medium screens */
@media all and (min-width: 600px) {
    header > div#logo > div#navToggle {
        display: none;    
    }
    
    header {
        background-color: white;
        flex-direction: row;
        line-height: 50px;
        padding: 0 3rem;
        width: 100%;
        
        
    }
   
   

        header > div#logo {
            background-color: transparent;
            font-size: 2.3em;
            font-weight: 700;
        
        }
    
            header > div#logo > h1 {
                color: rgb(51, 51, 51, 1);
                font-size: 3em;
                
            }
            
    header > nav {
        background-color: transparent;
        display: inline-block;
        text-align: center;

    }
    
        header > nav > ul {
            display: flex;
            flex-flow: row wrap;
        }
        
            header nav > ul > li {
                border-bottom: none;
                
                
            }
    
                header nav > ul > li > a {
                    padding: 0 2.55rem;
                }
                    
                    header nav > ul > li > a span.toggle {
                        display: none;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 2px;
                        content: "";
                        display: inline-block;
                        height: 0;

                        transition: 250ms all ease;
                        width: 0;
                        
                    }
                    
                        header nav > ul > li:hover > a span.caret {
                            border-top-color: none;
                            transform: rotate(270deg); 
                        }
    
   
   header > nav > ul > li:hover > nav {
        background-color: #bccf3d;
        border-radius: .25em;
        display: block;
        line-height: 2em;
        width: 160px;
        text-align: center;
    }
}

                      
.bus-img{
     background-image: url("http://i.imgur.com/u1nfc12.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    height: 80vh;
}