html{
    margin: 0 auto;
    width: 100%;
    height: 100vh;    
    
}

body{
    margin: 0 auto;
    width: 1800px;
    height: 100vh;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-family:  "Pacifico", serif;
}


header {

    display: flex;
    flex-direction: column;

    
}

    header > div#logo {
        line-height: 90px;

    
        
    }
    
    header > .menuDown {
        box-shadow: 0 3px 5px rgba(0,0,0,.15);
    }
    
    header > .menuUp {
        box-shadow: none;
    }
    
        header > div#logo{
            color: #000;
            font-weight: 00;
            font-size: 1.2em;
            text-align: center;
        }
        
        header > div#logo > div#navToggle {
            background-color: white;
    
            
            
            
        }
            
            header > div#logo > div#navToggle:hover {
                background-color: rgba(0,0,0,.1);
            }
            
            header > div#logo > div#navToggle > a {
                color: rgba(255,255,255,.85);
                display: block;
                font-size: 0.8em;
                font-weight: 600;
                padding: 0 2.5rem;
                text-decoration: none;
                transition: 300ms all ease;
            }
            
                header > div#logo > div#navToggle:hover > a {
                    color: rgba(255,255,255,1);
                }

    header > nav {
        background-color: white;
        display: none;
        flex: 1;
        transform: 300ms all ease;
        text-align: center;
    }
    
        header nav > ul {
            list-style-type: none;
            font-size: 1em;
            display:inline;
            width: 90%;
            font-family: sans-serif;
        }
        
            header nav > ul > li {
                text-align: center;
                
            }
            
                header nav > ul > li:last-of-type {
                    border-bottom: none;    
                }
            
                header nav > ul > li > a {
                    display: block;
                    color: #000;
                    font-weight: 700;
                    padding: .5em ;
                    text-decoration: none;
                    transition: 250ms all ease;
                }
                
                    header nav > ul > li > a span.toggle {
                        border-radius: 2rem;
                        font-size: 1.0em;
                        font-weight: 500;
                        padding: 2px px;
                        text-transform: lowercase;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        display: none;
                    }
                
                    header > nav > ul > li:hover > a {
                        color: rgb(187, 207, 61);  
                    }
                
            header > nav > ul > li > nav {
                background-color: rgb(51,51,51);
                border-radius: 1.5em;
                text-align: center;
                display: none;
                overflow: hidden;
                position: absolute;
                width: 90%;
                z-index: 100;
            }
            
                header > nav > ul > li > nav > ul > li > a {
                    font-size: .6em;
                    transition: 300ms all ease;
                }
                
                    header > nav > ul > li > nav > ul > li:hover > a {
                        line-height: 7em;
                        text-align: center;
                        color: #fff;
                    }

/* Medium screens */
@media all and (min-width: 600px) {
    header > div#logo > div#navToggle {
        display: none;    
    }
    
    header {
        background-color: white;
        flex-direction: row;
        line-height: 3em;
        padding: 0 5rem;
        width: 100%;
        position: absolute;
        height: 2em;
    
    }

   

        header > div#logo {
            background-color: white;
            line-height: 40px;
            font-size: 18px;
            margin-top: -3em;
            
            
        
        }
    
            header > div#logo > h1 {
                color: rgba(51, 51, 51, 1)
                
            }
            
    header > nav {
        background-color: white;
        display: block;
        width: 100%;
        text-align: center;
        
    }
    
        header > nav > ul {
            margin-top:-2em;
    
            background-color: white;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            text-align: center;
        }
        
            header nav > ul > li {
                border-bottom: none;
                font-family: 
                
            }
    
                header nav > ul > li > a {
                    padding: 0 2.55rem;
                    font-family: "Muli", serif;
                    font-weight: 700;
                    letter-spacing: 1px;

                }
                    
                    header nav > ul > li > a span.toggle {
                        display: none;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 2px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        transition: 250ms all ease;
                        width: 0;
                        
                    }
                    
                        header nav > ul > li:hover > a span.caret {
                            border-top-color: none;
                         
                        }
    
   
   header > nav > ul > li:hover > nav {
        background-color:#fff;
        border-radius: .25em;
        display:inline;
        line-height: 2em;
        width: 160px;
        
        text-align: center;
    }
}





main{
    background-image: url(http://i.imgur.com/Ekvl7BD.jpg?1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height:905px;
    text-align: center;
}



#greenlogo{
    color:#bccf3d;
    font-size: 5rem;
    
}

h5{
    color:#fff;
    font-size:20px;
    font-family: sans-serif;
    text-align: center;
    
}

#career_info{
    height:15em;
    margin: 80em;
    width:100%;

}


ol{
    height: 25rem;
    width:80rem;
    font-size: 20px;
    list-style: none; 
}
#special_liststyle:hover{
    background-color:transparent;
}
/* Insert_content_that_looks like_bullets */
#special_liststyle:before {
    content: "-"; 
    padding-right: 8px;
}
#orangefont{
    color:#ffc300;
    width:20rem;
}
#side_div{
    height:40rem;
    width:20rem;
    position:relative;
    right:90rem;
    top:-40rem;
}
#green_hr{
    height: 1px;
    width:10px;
    color:#bccf3d;
}

/*social media & contact info*/

.container{
    clear:both;
    padding-top: 5em;
    background-color: #fff;
    width: 100%;
    text-align: center;
    height: 5em;
    
}

.yellow{
    font-size: 1.2em;
    color: #ffc300;
    

}
h3{
    clear: both;
    color: #fff;
    font-family: "Pacifico";
    font-size: 3em;
}

hr{
    width: 5em;
    color: grey;

}

/*footer image*/

.column-left{ 
    position: relative;
    /*bottom: 32em;*/
    float: left; 
    width: 33%;
    color: black;
    font-size: 1.4em;
    
}

.column-right{
    position: relative;
    float: right;
    width: 33%;
    font-size: 1.4em;
    color: black;
    
}
.column-center{
    position: relative;
    display: inline-block;
    width: 33%; 
    color:black;
    font-size: 1.4em
}

/*footer image*/

footer{
    clear: both;
    margin: 0;
    margin-top:25em;
    padding: 0;
    background-image: url(http://dustybuns.com/wp-content/themes/highgrove/img/bg-footer.jpg);
    /*background-attachment:cover;*/
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15em;
    color: #fff;
    background-blend-mode: multiply;
    opacity: .9;
    background-color: grey;
}

h4{
    font-family: sans-serif;
    font-size: 24px;
    color: yellow;
}
#reserved{
    padding-left: 8rem;
}


.left_side{
    position: relative;
    /*right:20em;*/
    /*bottom:  60%;*/
    float: left;
    display: inline-block;
    width: 40%;
} 

.right_side{
    position: relative;
    /*left: 15em;*/
    /*bottom: 85%;*/
    font-size: 28px;
    top: 5rem;

}
