html{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

body{
    font-family: "Pacifico";
    color: #000;

}

header{
    width: 100%;
    height: 110px;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 1.3em;
}

li{
    color: #000;
    font-family: "Pacifico";
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    font-size: 2em;
}

li a{
    color: #000;
    text-decoration: none;
    
}

li a :hover{
    color: #bcffd3;

}



ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
    text-align: center;
    
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.1em;
    
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
    background-color:  #bccf3d;
}

main{
    background-image: url(http://i.imgur.com/V5vJz23.jpg?1);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 470px;

}

.sf-img{
    background-image: url("http://i.imgur.com/7hVwX2T.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 70vh;
    margin-top: 20px;  
}
.lg-text{
    font-size: 86px;
    padding: 0;
    margin: 0;
}
.middle-sf{
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
    width: 60%;
}
.push-up{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}
.bistro-main{
    margin: 0 auto;
    padding: 0;
    width: 90%;
    
}
.sf-layout{
    width: 100%;
    padding: 0;
    margin: 0;
}
.sm-width{
   width: 25%;
    margin: 0;
    padding: 0;
    float: left;
    
}
.left-box{
    width: 90%;
    margin: auto;
    height: 150px;
    border-bottom: solid 2px #bccf3d;
}
.font-62{
    margin: auto;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
    height: 110px;
}
.open{
    text-align: center;
    text-transform: capitalize;
    padding-top: 15px;
    
}
.monday{
    font-size: 18px;
    color: grey;
    text-align: center;
    text-transform: capitalize;
}
.grey-time{
    font-size: 18px;
    color: grey;
}
.pickups{
    font-size: 20px;
    font-weight: 700;
}
.order-sf{
    color: grey;
    text-decoration: none;
    
}
.order-sf:hover{
    color: black;
}
.no-border{
    border-bottom: none;
}
.map-sm{
  padding: 0;
    margin: 0;
    
}
.prices-vary{
      font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}
.lg-width{
    width: 75%;
    margin: 0;
    padding: 0;
    float: left;
}
.icons-hover{
    width: 100%;
    height: 200px;
    background-color:#bccf3d;
    padding: 0;
    margin: 0;
}
.blocks-green{
    list-style: none;
}
.block-green:hover{
    background-color: #fff;
    color: black;
}
.icons{
    width: calc(100%/5);
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    background-color:#bccf3d;
}
.icons:hover{
    background-color: #fff;
    color: black;
}
#green-block{
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;    
}
#green-block:hover{
    background-color: #fff;
    color: black;
}
.hover-text{
    font-size: 20px;
}
.line-block{
    width: 20%;
    margin-top: 60px;
    color: #fff;
    background-color: #fff;
}
.foods{
    width: 100%;
    margin: 0;
    padding:0;
 ;
    
}
.bistro-food{
    width: 33.3%;
    height: 350px;
    float: left;
    text-align: center;
    margin: auto;
    padding-top: 5px
    
}
.circles{
    width: 60%;
    border-radius: 50%;
    border: solid 5px #bccf3d;
    padding: 5px;
    
}
.item{
    color:#bccf3d; 
    font-weight: bold;
    font-size: 18px;
}
.content{
    font-size: 14px;
    padding: 10px;
    line-height: 2
}
.price-item{
    color: #bccf3d;
    font-size: 28px;
    font-weight: bold;
    font-family:" muli" sans-serif;
}

.line-height{
    line-height: 1.2;
}
.float-right{
    float: right;
}



/*footer image*/

footer{
    clear: both;
    margin: 0;
    margin-top:25em;
    padding: 0;
    background-image: url(http://dustybuns.com/wp-content/themes/highgrove/img/bg-footer.jpg);
    /*background-attachment:cover;*/
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15em;
    color: #fff;
    background-blend-mode: multiply;
    opacity: .9;
    background-color: grey;
}

h4{
    font-family: sans-serif;
    font-size: 24px;
    color: yellow;
}
#reserved{
    padding-left: 8rem;
}


.left_side{
    position: relative;
    /*right:20em;*/
    /*bottom:  60%;*/
    float: left;
    display: inline-block;
    width: 40%;
} 

.right_side{
    position: relative;
    /*left: 15em;*/
    /*bottom: 85%;*/
    font-size: 28px;
    top: 5rem;

}
