html,body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}


/* nav background */
header{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 158px;
}

.orange{
    text-align: center;
    
}

/*text content*/

.san fran{
    display: block;

}
h1{
    color: #fff;
    font-family:"Pacifico", serif;
    text-align: center;
    
}

h3{
    color: #fff;
    text-align: center;
}



/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
    text-align: center;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
    text-align: center;
	margin-right: 1px;
    
}

/*Style for menu links*/




li a {
	display:block;
	min-width:140px;
	height: 50px;
    text-align: center;
	line-height: 50px;
    font-family: "Muli", serif;
    font-weight: 700;
    letter-spacing: 1px;
	color: #000;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #BCCF3D;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #fff;
	color:  #333;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #BCCF3D;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover+.hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	background: #BCCF3D;
	text-align: center;
	padding: 10px 0;
	display: none;
    
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~
    #menu{
    display: block;
}

/* san fran text content*/

.san fran{
    margin: 0 auto;
    text-align: center;
    
}

/*text content*/

h1{
    font-weight: 500;
    color: #fff;
}

h3{
    color: #fff;
}


/*bottom half page*/
#container {
    min-height: 100%;
    background-color: #DDD;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

}

#container {
    height: 100%;
}

#contentwrapper{
    float: right;
    width: 100%;
    margin-left: -360px;
}

#content{
    margin-left: 360px;
}

#header{
    height: 85px;
    background: #000;
    color: #fff;
}

#leftcolumn{
    float: left;
    width: 180px; 
    background: #C8FC98;
}


#leftnavbox{
    float: left;
    width: 350px;
    height: 80%;
    background: #ffcc00;
    position: absolute;
    left: 0px;
    position: fixed;
}







/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}