
html{
    margin: 0 auto;
    width: 100%;
    height: 100vh;    
    
}

body{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-family:  "Pacifico", serif;

}



.sm_logo{
    height: 90px;
    border-bottom: 0;
    font-family: "Pacifico", serif;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 60px;
    padding-right: 30px;
    padding-left: 30px;
}


main{

    background-image: url("http://i.imgur.com/XRWj9Kz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}







header {
    background-color: rgb(188, 207, 61);
    display: flex;
    flex-direction: column;
    
}

    header > div#logo {
        line-height: 70px;
        position: relative;
        
    }
    
    header > .menuDown {
        box-shadow: 0 3px 5px rgba(0,0,0,.15);
    }
    
    header > .menuUp {
        box-shadow: none;
    }
    
        header > div#logo > h1 {
            color: #000;
            font-weight: 500;
            
        }
        
        header > div#logo > div#navToggle {
            background-color: rgba(0,0,0,.15);
            position: absolute;
            right: 0;
            top: 0;
            transition: 300ms all ease;
        }
            
            header > div#logo > div#navToggle:hover {
                background-color: rgba(0,0,0,.1);
            }
            
            header > div#logo > div#navToggle > a {
                color: rgba(255,255,255,.85);
                display: block;
                font-size: 0.5em;
                font-weight: 600;
                padding: 0 2.5rem;
                text-decoration: none;
                transition: 300ms all ease;
            }
            
                header > div#logo > div#navToggle:hover > a {
                    color: rgba(255,255,255,1);
                }

    header > nav {
        background-color: white;
        display: none;
        flex: 1;
        transform: 300ms all ease;
        text-align: center;
    }
    
        header nav > ul {
            list-style-type: none;
            text-align: center;
            font-size: 1.3em;
            font-family: sans-serif;
        }
        
            header nav > ul > li {
                border-bottom: 1px dotted rgba(0,0,0,.1);
                position: relative;
                text-align: center;
                
            }
            
                header nav > ul > li:last-of-type {
                    border-bottom: none;    
                }
            
                header nav > ul > li > a {
                    display: block;
                    color: rgba(51, 51, 51, 1);
                    font-weight: 700;
                    padding: 1.5rem 0;
                    text-decoration: none;
                    transition: 250ms all ease;
                }
                
                    header nav > ul > li > a span.toggle {
                        background-color: rgba(0,0,0,.05);
                        border-radius: 3rem;
                        color: rgba(0,0,0,.25);
                        font-size: 1.0em;
                        font-weight: 500;
                        padding: 2px 8px;
                        text-transform: lowercase;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        display: none;
                    }
                
                    header > nav > ul > li:hover > a {
                        color: rgba(187, 207, 61, 1);  
                    }
                
            header > nav > ul > li > nav {
                background-color: rgb(51,51,51);
                border-radius: 1.5em;
                box-shadow: 0 2px 8px rgba(0,0,0,.6);
                display: none;
                overflow: hidden;
                position: absolute;
                width: 90%;
                z-index: 100;
            }
            
                header > nav > ul > li > nav > ul > li > a {
                    color: rgba(255,255,255,.85);
                    transition: 300ms all ease;
                }
                
                    header > nav > ul > li > nav > ul > li:hover > a {
                        background-color: rgba(0,0,0,.6);
                        color: rgba(255,255,255,1);
                    }

/* Medium screens */
@media all and (min-width: 600px) {
    header > div#logo > div#navToggle {
        display: none;    
    }
    
    header {
        background-color: white;
        flex-direction: row;
        line-height: 90px;
        padding: 0 3rem;
        width: 100%;
    }
   
   

        header > div#logo {
            background-color: transparent;
            line-height: 100px;
            font-size: 20px;
            font-weight: 800;
        
        }
    
            header > div#logo > h1 {
                color: rgba(51, 51, 51, 1)
                
            }
            
    header > nav {
        background-color: transparent;
        display: inline-block;
        text-align: center;
        margin-left: 7rem;
    }
    
        header > nav > ul {
            display: flex;
            flex-flow: row wrap;
            align-content: stretch;
        }
        
            header nav > ul > li {
                border-bottom: none;
                margin-left: 10px;
                
            }
    
                header nav > ul > li > a {
                    padding: 0 1.55rem;
                }
                    
                    header nav > ul > li > a span.toggle {
                        display: none;    
                    }
                    
                    header nav > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid rgba(0,0,0,.65);
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 1px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        margin: 0 0 0 .25rem;
                        transition: 250ms all ease;
                        width: 0;
                        vertical-align: middle;
                    }
                    
                        header nav > ul > li:hover > a span.caret {
                            border-top-color: none;
                            transform: rotate(270deg); 
                        }
    
   
   header > nav > ul > li:hover > nav {
        background-color: #bccf3d;
        border-radius: .25em;
        display: block;
        line-height: 3em;
        width: 166px;
        text-align: center;
    }
}

.orange{
    text-align: center;
    
}

/*text content*/

.san fran{
    display: block;

}
h1{
    color: #fff;
    font-family:"Pacifico", serif;
    text-align: center;
    
}

h3{
    color: #fff;
    text-align: center;
}



/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
    text-align: center;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
    text-align: center;
	margin-right: 1px;
    
}

/*Style for menu links*/




li a {
	display:block;
	min-width:140px;
	height: 50px;
    text-align: center;
	line-height: 50px;
    font-family: "Muli", serif;
    font-weight: 700;
    letter-spacing: 1px;
	color: #000;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #BCCF3D;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #fff;
	color:  #333;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #BCCF3D;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover+.hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	background: #BCCF3D;
	text-align: center;
	padding: 10px 0;
	display: none;
    
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~
    #menu{
    display: block;
}

/* san fran text content*/

.san fran{
    margin: 0 auto;
    text-align: center;
    
}

/*text content*/

h1{
    font-weight: 500;
    color: #fff;
}

h3{
    color: #fff;
}


/*bottom half page*/
#container {
    min-height: 100%;
    background-color: #DDD;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

}

#container {
    height: 100%;
}

#contentwrapper{
    float: right;
    width: 100%;
    margin-left: -360px;
}

#content{
    margin-left: 360px;
}

#header{
    height: 85px;
    background: #000;
    color: #fff;
}

#leftcolumn{
    float: left;
    width: 180px; 
    background: #C8FC98;
}


#leftnavbox{
    float: left;
    width: 350px;
    height: 80%;
    background: #ffcc00;
    position: absolute;
    left: 0px;
    position: fixed;
}







/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}