html,body{
    margin: 0;
    padding:0;
    color: #525252;
    font-family: "Muli", sans-serif;
    
}


/* nav background */
body{
    margin: 0;
    padding: 0;
    background-image: url(http://i.imgur.com/0DSzdj8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;    
    height: 152px;
}
/* header and navbar */

header{
    margin: 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    
}

#primary_nav_wrap{
	margin: 0 auto;
    
}

#primary_nav_wrap ul{
	list-style:none;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a{
    text-align: center;
	color:#fff;
	text-decoration:none;
	font-weight:800;
    text-shadow: 1px 1px 5px #000;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
	font-family:"Muli", sans-serif;
}

#primary_nav_wrap ul li{
	margin:0;
	padding:0;
    position: relative;
    float: left;
    
}

#primary_nav_wrap ul li.current-menu-item{
	background:none;
    color: #bccf3d;
}


#primary_nav_wrap ul li:hover{
	background:#bccf3d;
    text-align: center;
}

#primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0;
}

#primary_nav_wrap ul ul li{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul{
	top:0;
    
	
}

#primary_nav_wrap ul li:hover > ul{
	display: block;
    text-align: center;

}

/* text on burger img*/
.dusty{
    margin: 0 auto;
    display: block;
    color: white;
    
} 


h1{
    
     font-family: "Pacifico";
    font-size: 3rem;

}

h3{
    font-family: "Muli";
    font-size:26px;
    letter-spacing: .5rem;
    text-align: center;
   
    
}



/* welcome text & fork img */

.welcome{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background-color: #fff;
}
h2{
    color: #FFC300;
    font-size: 4rem;
     font-family: "Pacifico";
    position: relative;
    margin-top: 4em;
}

/*    leaf logo*/
.leaf{
    position: relative;
    top:-65px;
}
#info{
    color: #525252;
    text-align: center;
    width: 80%;
    position: relative;
     top:-50px;
    font-family: "muli";
    font-size: 1.2rem;
    margin-left: 100px;
    
    
}
/* spaced */
.spaced{
    position: relative;
    top:-30px;
}
/* boxes section */

.wood{
    background-image: url(http://i.imgur.com/auP5mlE.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height: 25em;
    background-position:center;
    margin: 0;
    padding: 0;
    
}
.man1{
    position: relative;
    top:-60px;
    margin-left: 60px;
}

.address{
    position: relative;
    top:-597px;
    height: 503px;
    padding-top: 20px;
    margin-left: 360px;
    font-family: "muli";
    width: 20%;
    text-align: center;
    float: left;
    padding: 15px;
    background-color: #BCCF3D;
}
.short{
    position: relative;
    top:-597px;
    height: 503px;
    padding-top: 20px;
    font-family: "muli";
    width:20%;
    text-align: center;
    padding: 15px;
    background-color: #BCCF3D;
    float:left;
    background-color: orange;
}
/* lines for bistros */
hr{
    width: 100px;
}
/* fork & knife truck */

/* telephone numbers */
.tel{
    text-align: center;
    margin-left: 20px;
    color: #525252;
    font-size: 15px;
}
.san{
    clear:inherit;
    text-align: center;
    margin-left: 20px;
    color: white;
    font-size: 15px;
}
/* taco truck pic */
.taco{
    position: relative;
    left: -15px;
    width: 285px;
    top:52px;
}
/* man hat img*/
.man_hat{
    position: relative;
    top:-15px;
    width: 286px;
    height: 280px;
    left:-15px;
}
/* second row of boxes*/
#group{
    position: relative;
    left:-15px;
    top:47px;
    width: 299px;
    height: 260px;
}

.two{
    position: relative;
    left: 60px;
    height:420px;
    width: 270px
}

/* pink truck image */
.pink_truck{
    clear:inherit;
    width: 256px;
}
.pink{
    position: relative;
    left:-15px;
    top:-15px;
    width:286px;
    height: 190px;
}

.jeep{
    position: relative;
    top:-597px;
    float: left;
    height:0px;
    left:60px;
    
  
}
.bell{
    height: 420px;
    width: 242px;
}

/*third row 

/*social media & contact info*/

.container{
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    text-align: center;
    
}

h4{

    color: yellow;
    font-family: "Pacifico";
    font-size: 20px;
}



/*footer image*/

.column-left{ 
    position: relative;
    /*bottom: 32em;*/
    float: left; 
    width: 33%; 
    
}

.column-right{
    position: relative;
    float: right;
    width: 33%; 
    
}
.column-center{
    position: relative;
    display: inline-block;
    width: 33%; 
    
}

/*footer image*/

footer{
    margin: 0;
    padding: 0;
    background-image: url(http://dustybuns.com/wp-content/themes/highgrove/img/bg-footer.jpg);
    /*background-attachment:cover;*/
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15em;
    color: #fff;
    background-blend-mode: multiply;
    opacity: .9;
    background-color: grey;
}

h4{
    font-family: sans-serif;
}
#reserved{
    padding-left: 8rem;
}
h3{
    font-family: 'Pacifico';
    font-size: 2em;
    
}
.left_side{
    position: relative;
    /*right:20em;*/
    /*bottom:  60%;*/
    float: left;
    display: inline-block;
    width: 40%;
} 

.right_side{
    position: relative;
    /*left: 15em;*/
    /*bottom: 85%;*/
    font-size: 28px;
    top: 5rem;

}


