htm,body{
    margin: 0;
    padding:0;
}

/* nav background */
body{
    margin: 0;
    padding: 0;
    background-image: url(http://i.imgur.com/0DSzdj8.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100%;    
    height: 152px;
}
/* header and navbar */

header{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline;
}

#primary_nav_wrap{
	margin: 0 auto;
}

#primary_nav_wrap ul{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:900;
	font-size:22px;
	line-height:32px;
	padding:0 15px;
	font-family:"Muli", sans-serif;
    }

#primary_nav_wrap ul li{
	margin:0;
	padding:0;
    position: relative;
    float: left;
    
}

#primary_nav_wrap ul li.current-menu-item{
	background:none;
}

#primary_nav_wrap ul li:hover{
	background:#bccf3d;
}

#primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul{
	top:0;
	left: 100%;
}

#primary_nav_wrap ul li:hover > ul{
	display:block;

    
    
}

/* text on burger img*/
.dusty{
    margin: 0 auto;
    position: relative;
    bottom: -100px;
    color: white;
} 
h1{
     font-family: "Pacifico";
    font-size: 5rem;
    text-align: center;
    margin-right: 
}
h3{
    font-family: "Muli";
    font-size:40px;
    letter-spacing: .5rem;
    text-align: center;
   
    
}



/* welcome text & fork img */

.welcome{
    text-align: center;
    margin: 5px;
    padding: 0;
    background-color: #fff;
}
h2{
    color: #FFC300;
    font-size: 4rem;
     font-family: "Pacifico";
    position: relative;
    margin-top: 4em;
}

/*    leaf logo*/
.leaf{
    position: relative;
    top:-65px;
}
#info{
    color: #525252;
    text-align: center;
    width: 80%;
    position: relative;
     top:-50px;

    font-family: "muli";
    font-size: 1.2rem;
    margin-left: 100px;
    
    
}
/* spaced */
.spaced{
    position: relative;
    top:-30px;
}
/* boxes section */

.wood{
    background-image: url(http://i.imgur.com/auP5mlE.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height: auto;
    background-position:center;
    margin: 0;
    padding: 0;
    
}
.man1{
    position: relative;
    top:-60px;
    margin-left: 60px;
}

.address{
    position: relative;
    top:-597px;
    height: 503px;
    padding-top: 20px;
    margin-left: 360px;
    font-family: "muli";
    width: 20%;
    text-align: center;
    float: left;
        padding: 15px;
    background-color: #BCCF3D;
}
.short{
    position: relative;
    top:-597px;
    height: 503px;
    padding-top: 20px;
    font-family: "muli";
    width:20%;
    text-align: center;
    padding: 15px;
    background-color: #BCCF3D;
    float:left;
    background-color: orange;
}
/* lines for bistros */
hr{
    width: 100px;
}
/* fork & knife truck */

/* telephone numbers */
.tel{
    text-align: center;
    margin-left: 20px;
    color: #525252;
    font-size: 15px;
}
.san{
    clear:inherit;
    text-align: center;
    margin-left: 20px;
    color: white;
    font-size: 15px;
}
/* taco truck pic */
.taco{
    position: relative;
    left: -15px;
    width: 285px;
    top:52px;
}
/* man hat img*/
.man_hat{
    position: relative;
    top:-15px;
    width: 286px;
    height: 280px;
    left:-15px;
}
/* second row of boxes*/
#group{
    position: relative;
    left:-15px;
    top:47px;
    width: 299px;
    height: 260px;
}

.two{
    position: relative;
    left: 60px;
    height:420px;
    width: 270px
}
/* pink truck image */
.pink_truck{
    clear:inherit;
    width: 256px;
}
.pink{
    position: relative;
    left:-15px;
    top:-15px;
    width:286px;
    height: 190px;
}
.jeep{
    position: relative;
    top:-597px;
    float: left;
    height:0px;
    left:60px;
    
  
}
.bell{
    height: 420px;
    width: 242px;
}